Django==6.0.5
django-cors-headers==4.9.0
djangorestframework==3.17.1
faiss-cpu==1.14.2
ftfy==6.3.1
ir-datasets==0.5.11
ir-measures==0.4.3
joblib==1.5.3
nltk==3.9.4
numpy==2.4.6
pandas==3.0.3
python-dotenv==1.2.2
rank-bm25==0.2.2
scikit-learn==1.8.0
scipy==1.17.1
sentence-transformers==5.5.1
torch==2.12.0
tqdm==4.67.3
transformers==5.9.0
